body
{
    padding: 20px;

}
header a {
	display: flex;
	justify-content: right;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

a
{
   padding: 10px
}

#center
{

    display: flex;
    justify-content: center;
    margin-top: 100px;

}

#centerImage{
    display: flex;
    justify-content: center;
    margin: 2px;
}





input{
    margin: 10px;
}

input[type=text] {
  width: 400px;
  height: 35px;
  border-radius: 10px;
}

.indent_before_form{
    display: inline-block;
	width: 230px;
}

@media (max-width: 1195px) {
                label {
                    display: none
                }
            }
@media (min-width: 718px) {
                input[value="расширенный поиск"] {
                    margin: 0px 0px 0px 505px
                }
            }
@media (max-width: 717px) {
                input[value="расширенный поиск"] {
                    margin: 0px 0px 0px 270px
                }